
  <div class="page-tool-bar ui secondary menu">
    <div class="header item">
      <%= @project.name %> - Invoices
    </div>
    <div class="right menu">
      <div class="item">
        <div class="ui right action left icon input">
          <i class="search icon"></i>
          <input type="text" placeholder="Search">
          <div class="ui basic floating dropdown button">
            <div class="text">All</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item">Vendor Name</div>
              <div class="item">Invoice Number</div>
            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="ui three small icon buttons">  
          <%= link_to new_invoice_path, class:"ui button blue basic" do  %>
            <i class="plus icon"></i>
          <% end %>
          <a class="ui button blue basic">
            <i class="upload icon"></i>
          </a>
          <a href="" class="ui button blue basic">
            <i class="file icon"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="table-header">
  <div class="ui grid">
    <div class="row">
      <div class="column one wide"><strong>Status</strong></div>
      <div class="column two wide"><strong>Vendor</strong></div>
      <div class="column two wide"><strong>No.</strong></div>
      <div class="column two wide"><strong>Description</strong></div>
      <div class="column one wide"><strong>Due</strong></div>
      <div class="column one wide"><strong>Amount</strong></div>
      <div class="column one wide"><strong>Invoice</strong></div>
      <div class="column one wide"><strong>Payment</strong></div>
      <div class="column one wide"><strong>Actions</strong></div>
    </div>
  </div>
  </div>

  <div class="table-body">
  <div class="ui grid">
    <% @project.invoices.each do |inv| %>
    <div class="row invoice-row">
      <div class="column one wide">
        <%= ui_status_label inv.status %>
      </div>
      <div class="column two wide"><%= link_to_associate inv.vendor_name, inv.vendor, "vendors", "" %></div>
      <div class="column two wide"><%= inv.invoice_number %></div>
      <div class="column two wide"><%= inv.description %></div>
      <div class="column one wide"><%= inv.due_date %></div>
      <div class="column one wide"><%= inv.amount %></div>
      <div class="column one wide">
        <div class="ui blue label">View</div>
      </div>
      <div class="column one wide">
        <div class="ui icon tiny button disabled">
          <i class="download icon"></i>
        </div>
      </div>
      <div class="column one wide">
        <div class="ui tiny icon button">
          <i class="angle down icon"></i>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  </div>




